@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

At Grym Inc. , your privacy is our number one priority… after profits, innovation, and looking cooler than the competition. We’re committed to safeguarding your data because, let’s be honest, we probably have more of it than you think.

What We Collect
Everything. Seriously, everything. From your favorite breakfast cereal to how long you hovered over that "Add to Cart" button. We also collect things you didn’t know could be collected, like your vibe, your emotional state while browsing, and possibly your inner monologue.

How We Use Your Data
We use your data to improve our services, though mostly to send you targeted ads for products you looked at once in passing. And yes, we’ll even remind you about them at 3 AM, just in case you forgot.

Sharing Your Data
Of course, we share it. But only with trusted partners, like our friends in social media, advertising companies, and probably some random guy named Bob. We promise that Bob’s pretty cool, though.

Your Control
You have the right to request what data we’ve collected about you… which we’ll get back to you on, right after we finish collecting more. You can also opt out of data collection, but that’ll just make us try harder to figure out what you're hiding. Let’s face it, you’ll be back.

Conclusion
So, rest easy! Your personal info is in the hands of tech experts who have read, like, at least two articles on data security. Plus, who doesn’t love getting super personalized ads? It’s like we know you… too well, maybe.

By using our site, you agree to these terms and our right to track your every move (even if it’s just browsing for CyberDucks).</p>
