@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Product

@{
}


<div class="container mt-5">
    <h2>Add New Product</h2>
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Name">Name: </label>
            <input type="text" asp-for="Name" required/>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description: </label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">

            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" step="0.01" class="form-control" name="Price" required />
        </div>
        <div class="form-group">
            <label asp-for="ImagePath">Image Path</label>
            <input type="text" class="form-control"  asp-for="ImagePath" name="ImagePath" required />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Product</button>
    </form>
</div>